*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: #1f0e20;
    font-family: 'Blinker', sans-serif;
    
} 


.titulo {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Blinker', sans-serif;
    margin-bottom: 40px;
    color:yellow;
}

.subtitulo{
    color:white;
    font-size:30px;
    display: inline;
    
} 

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}
.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px ;
    height: 500px;
    margin-top: 50px;
    
}
img{
    width: 400% !important;
    height: 450px !important;
    object-fit: cover;
    border-radius: 10px;

}
@media screen  and (max-width: 800px){
    .carousel .carousel-item{
        width: 100%;
    }
}
    