@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&display=swap");
body {
  background-color: #1f0e20;
  font-family: "Blinker", sans-serif !important;
}

.contenedortodas{
  height: 100hv;
  position: relative;
}

footer{
  padding-top: 450px;
}